.App {
  text-align: center;
}

.main {
  margin-top: 2em;
}

.center {
  justify-content: center;
  
  padding: 10px;
  padding-top: 15px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fcffd7;
  width: 70%;
  height: 10vh;
  box-shadow: 5px 5px #c7d28d;
}

.item.completed {
  background-color: #87f7aa;
  box-shadow: 5px 5px #83b17c;
}
.item:hover{
  opacity: 0.8;
  transition-duration: 0.6s;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.item .header{
  cursor: pointer;
}

.popup .overlay {
  width:100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #abb0ff;
  padding: 14px 28px;
  border-radius: 4px;
  max-width: 400px;
  min-width: 400px;
  word-wrap: break-word;
  
  
}

.edit-popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #d0ceff;
  padding: 14px 28px;
  border-radius: 4px;
  max-width: 500px;
  min-width: 500px;
  word-wrap: break-word;
  
}

.ui.button.color {
  background-color: rgb(237, 184, 217);
  color: black;
  width: 180px;
}

.ui.button.color:hover {
  background-color: rgb(176, 102, 135);
}




 